<%= form_for(@cover_cat) do |f| %>
  <%= render "shared/error_messages", :target => @cover_cat%>

   <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
