<fieldset class="fieldset">
    <div class="row">

    <div class="span4">
      <div class="control-group">
        <label class="control-label">Station</label>
        <div class="controls">
          <%= f.text_field :stn_number %>
        </div>
      </div>
    </div>

    <div class="span4">  
       <div class="control-group">
        <label class="control-label">Time</label>
        <div class="controls">
          <%= f.text_field :time, {value: f.object.try(:time).try(:strftime, "%H:%M"), :class => "boatlog_time"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="control-group">
        <label class="control-label">Latitude</label>
        <div class="controls">
          <div class="input-append">
            <%= f.text_field :latitude_in_northern_degrees, inputmode: "numeric", pattern: "\\d*(\\.\\d*)?", class: "coords coords-positive" %>
            <span class="add-on">&deg;N</span>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="control-group">
        <label class="control-label"> Longitude </label>
        <div class="controls">
          <div class="input-append">
            <%= f.text_field :longitude_in_western_degrees, inputmode: "numeric", pattern: "\\d*(\\.\\d*)?", class: "coords coords-positive" %>
            <span class="add-on">&deg;W</span>
          </div>
        </div>
      </div>
    </div>
  </div>



<%= f.fields_for :rep_logs do |builder| %>
  <%= render 'replicate_fields', f: builder %>
<% end %>
<%= f.link_to_add "Add Replicate", :rep_logs %>

<div class="row">
  <div class="span6">
      <div class="control-group">
        <label class="control-label">Station Comments</label>
        <div class="controls">
          <%= f.text_area :comments, { :size => '60x3', :autocomplete => :off } %>
        </div>
      </div>
      <%= f.link_to_remove "Remove Station", { :tabindex => -1 } %> 
  </div>  
</div>

</fieldset>
