<%= render "shared/nav_breadcrumbs", object: [["Boat Logs", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_boat_log_path, class: "new-boat-log-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Boat Log
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to boat_logs_path(format: "xlsx", nocache: SecureRandom.alphanumeric), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          Download Boat Logs (.xlsx)
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col" class="width-15">Primary Sample Unit</th>
          <th scope="col" class="width-15">Date</th>
          <th scope="col" class="width-15">Time</th>
          <th scope="col">Comments</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @boat_logs.each do |boat_log| %>
          <tr>
            <td class="width-15"><%= boat_log.primary_sample_unit %></td>
            <td class="width-15 fieldid_check"><%= boat_log.date %></td>
            <td class="width-15"><%= boat_log.station_logs&.first&.time&.strftime("%H:%M") %></td>
            <td><%= boat_log.station_logs&.first&.comments %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "View", boat_log, class: "usa-button" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_boat_log_path(boat_log), class: "usa-button usa-button--outline" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>