<h1>Listing boat_logs</h1>

<table>
  <tr>
    <th>Primary sample unit</th>
    <th>Date</th>
    <th>Boatlog manager</th>
    <th>Surface temperature</th>
    <th>Surface salinity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_logs.each do |boat_log| %>
  <tr>
    <td><%= boat_log.primary_sample_unit %></td>
    <td><%= boat_log.date %></td>
    <td><%= boat_log.boatlog_manager_id %></td>
    <td><%= boat_log.surface_temperature %></td>
    <td><%= boat_log.surface_salinity %></td>
    <td><%= link_to 'Show', boat_log %></td>
    <td><%= link_to 'Edit', edit_boat_log_path(boat_log) %></td>
    <td><%= link_to 'Destroy', boat_log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boat log', new_boat_log_path %>
