<%= render "shared/nav_breadcrumbs", object: [["Manager Dashboard", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to boat_logs_path, class: "usa-button" do %>
          Boat Logs
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to samples_path, class: "usa-button" do %>
          Fish Samples
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to benthic_covers_path, class: "usa-button" do %>
          LPI
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to coral_demographics_path, class: "usa-button" do %>
          Demo
        <%- end %>
      </li>
    </ul>
  </div>
</div>

<div class="grid-row grid-gap">
  <div class="grid-col-5">
    <h4>Sample Counts by Diver</h4>

    <table class="usa-table usa-table--compact usa-table--striped font-sans-2xs">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">BoatLog Count</th>
          <th scope="col">Fish Count</th>
          <th scope="col">LPI Count</th>
          <th scope="col">Demo Count</th>
        </tr>
      </thead>
      <tbody>
        <% @sample_count_report.counts_by_diver.each do |diver, value| %>
          <tr>
            <td><%= diver.diver_name %></td>
            <td><%= value["boat"] %></td>
            <td><%= value["sample"] %></td>
            <td><%= value["lpi"] %></td>
            <td><%= value["demo"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="grid-col-7">
    <h4>Crosscheck Boat Log vs. Samples</h4>

    These exist as a <strong>boat log</strong> but do not have a matching <strong>sample</strong>.
    <table class="width-full font-sans-xs display">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">Date</th>
          <th scope="col">Field ID</th>
        </tr>
      </thead>
      <tbody>
        <%- @crosscheck_report.missing_samples_from_diver.each do |missing| %>
          <%= tag.tr "data-link": url_for(missing.related_model) do %>
            <td><%= missing.diver&.diver_name %></td>
            <td><%= missing.date %></td>
            <td><%= missing.field_id %></td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>

    These exist as a <strong>sample</strong> but do not have a matching <strong>boat log</strong>.
    <table class="width-full font-sans-xs display">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">Date</th>
          <th scope="col">Field ID</th>
        </tr>
      </thead>
      <tbody>
        <%- @crosscheck_report.missing_samples_from_boat_log.each do |missing| %>
          <%= tag.tr "data-link": url_for(missing.related_model) do %>
            <td><%= missing.diver&.diver_name %></td>
            <td><%= missing.date %></td>
            <td><%= missing.field_id %></td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>