<div class="container">
  <div class="row">
    <div class="span2"> 
      <%= button_to('Boat Logs', boat_logs_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
      <%= button_to('Fish Samples', samples_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
      <%= button_to('LPI', benthic_covers_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
      <%= button_to('Demo', coral_demographics_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
    </div>
    <div class="span10 dashboardContainer">
      <table id="sampleList" class="display table table-condensed table-bordered">
        <thead>
         <tr>
           <th>field ID</th>
           <th>Date</th>
           <th>Time</th>
           <th>Diver</th>
         </tr>
       </thead>
       <tbody>
      <% @boat_logs.each do |log| %>
         <% log.rep_logs.each do |rep|  %>
            <tr data-link=" <%= boat_log_path(log.id) %> ">
              <td><%= rep.field_id %></td>
              <td><%= log.date %></td>
              <td><%= rep.station_log.time.strftime("%H:%M") %></td>
              <td><%= rep.diver.diver_name %></td>
            </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    </div>  
  </div>
  <div class="row">
    <div class="span2">
      
    </div>
    <div class="span5">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Diver</th>
            <th>Boatlog Count</th>
            <th>Fish Count</th>
            <th>LPI Count</th>
            <th>Demographic Count</th>
          </tr>
        <tbody>
        <% @data_by_divers.each do |diver, value| %>
          <tr>
            <td> <%= diver.diver_name %></td>
            <td> <%= value["boat"] %></td>
            <td> <%= value["sample"] %></td>
            <td> <%= value["lpi"] %></td>
            <td> <%= value["demo"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span2">
      
    </div>
  </div>

  <input type="button" class="btn btn-primary" data-toggle="collapse" data-target=".missingRecords" value="Toggle Button">
  <div class="row missingRecords collapse out">
    <div class="span5">
      <% m = @boat_logs.first.boatlog_manager %>
      <% diverMissing = m.missing_samples_from_diver %>
      <% boatlogMissing = m.missing_samples_from_boatlog %>
      <table class="display table table-striped table-bordered table-condensed">
        <h6>These are in the boatlog but do not have a matching diver sample </h6>
        <thead>
          <tr>
            <th>Diver</th>
            <th>Date</th>
            <th>Field ID</th>
          </tr>
        <tbody>
        <% diverMissing.each do |missing| %>
          <tr>
            <td> <%= missing[2] %></td>
            <td> <%= missing[0] %></td>
            <td> <%= missing[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span5">
      <table class="display table table-striped table-bordered table-condensed">
        <h6>Diver has entered these but do not have matching Boatlog entry </h6>
        <thead>
          <tr>
            <th>Diver</th>
            <th>Date</th>
            <th>Field ID</th>
          </tr>
        <tbody>
        <% boatlogMissing.each do |missing| %>
          <tr>
            <td> <%= missing[2] %></td>
            <td> <%= missing[0] %></td>
            <td> <%= missing[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
  </div>
</div>
