<%= render "shared/nav_breadcrumbs", object: [["Manager Dashboard", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to boat_logs_path, class: "usa-button" do %>
          Boat Logs
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to samples_path, class: "usa-button" do %>
          Fish Samples
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to benthic_covers_path, class: "usa-button" do %>
          LPI
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to coral_demographics_path, class: "usa-button" do %>
          Demo
        <%- end %>
      </li>
    </ul>
  </div>
</div>

<div class="grid-row grid-gap">
  <div class="grid-col-5">
    <h4>Sample Counts by Diver</h4>

    <table class="usa-table usa-table--compact usa-table--striped font-sans-2xs">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">BoatLog Count</th>
          <th scope="col">Fish Count</th>
          <th scope="col">LPI Count</th>
          <th scope="col">Demo Count</th>
        </tr>
      </thead>
      <tbody>
        <% @sample_count_report.counts_by_diver.each do |diver, value| %>
          <%- bg_class = ((value["boat"] == (value["sample"] + value["lpi"] + value["demo"])) ? "" : "bg-secondary-light") %>
          <%= tag.tr class: bg_class do %>
            <%= tag.td diver.diver_name, class: bg_class %>
            <%= tag.td value["boat"], class: bg_class %>
            <%= tag.td value["sample"], class: bg_class %>
            <%= tag.td value["lpi"], class: bg_class %>
            <%= tag.td value["demo"], class: bg_class %>
          <%- end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="grid-col-7">
    <h4>Crosscheck Boat Log vs. Samples</h4>

    These exist as a <strong>boat log</strong> but do not have a matching <strong>sample</strong>.
    <table class="width-full font-sans-xs display">
      <thead>
        <tr>
          <th scope="col" class="width-card">Diver</th>
          <th scope="col" class="width-15">Date</th>
          <th scope="col" class="width-15">Field ID</th>
        </tr>
      </thead>
      <tbody>
        <%- @crosscheck_report.missing_samples_from_diver.each do |missing| %>
          <%= tag.tr "data-link": url_for(missing.related_model) do %>
            <td class="width-card"><%= missing.diver&.diver_name %></td>
            <td class="width-15"><%= missing.date %></td>
            <td class="width-15"><%= missing.field_id %></td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>

    These exist as a <strong>sample</strong> but do not have a matching <strong>boat log</strong>.
    <table class="width-full font-sans-xs display">
      <thead>
        <tr>
          <th scope="col" class="width-card">Diver</th>
          <th scope="col" class="width-15">Date</th>
          <th scope="col" class="width-15">Field ID</th>
        </tr>
      </thead>
      <tbody>
        <%- @crosscheck_report.missing_samples_from_boat_log.each do |missing| %>
          <%= tag.tr "data-link": url_for(missing.related_model) do %>
            <td class="width-card"><%= missing.diver&.diver_name %></td>
            <td class="width-15"><%= missing.date %></td>
            <td class="width-15"><%= missing.field_id %></td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>

    These are <strong>possible duplicates</strong> based on PSU or field ID.
    <table class="width-full font-sans-xs display">
      <thead>
        <tr>
          <th scope="col" class="width-15">PSU or Field ID</th>
          <th scope="col" class="width-15">Date</th>
          <th scope="col" class="width-card">Manager or Diver</th>
        </tr>
      </thead>
      <tbody>
        <%- @possible_duplicate_report.duplicate_boat_logs_by_primary_sample_unit.each do |psu, boat_logs| %>
          <%- boat_logs.each do |boat_log| %>
            <%= tag.tr "data-link": url_for(boat_log) do %>
              <td class="width-15"><%= boat_log.primary_sample_unit %></td>
              <td class="width-15"><%= boat_log.date %></td>
              <td class="width-card"><%= boat_log.boatlog_manager&.agency_name %></td>
            <%- end %>
          <%- end %>
        <%- end %>
        <%- @possible_duplicate_report.duplicate_samples_by_field_id.each do |field_id, samples| %>
          <%- samples.each do |sample| %>
            <%= tag.tr "data-link": url_for(sample) do %>
              <td class="width-15"><%= sample.field_id %></td>
              <td class="width-15"><%= sample.sample_date %></td>
              <td class="width-card"><%= sample.diver&.diver_name %></td>
            <%- end %>
          <%- end %>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>