<div class="container">
  
  <div class="row">
    <div class="span2"> 
        <%= button_to('Boat Logs', boat_logs_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
    </div>
    <div class="span2"> 
        <%= button_to('Fish Samples', samples_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
    </div>
    <div class="span2"> 
        <%= button_to('LPI', benthic_covers_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
    </div>
    <div class="span2"> 
        <%= button_to('Demo', coral_demographics_path, :method => "get", :class => 'btn btn-sm btn-primary')  %>   
    </div>
  </div>


  <div class="row">
    <div class="span4">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Diver</th>
            <th>Boatlog Count</th>
            <th>Fish Count</th>
            <th>LPI Count</th>
            <th>Demographic Count</th>
          </tr>
        <tbody>
        <% @sample_count_report.counts_by_diver.each do |diver, value| %>
          <tr>
            <td> <%= diver.diver_name %></td>
            <td> <%= value["boat"] %></td>
            <td> <%= value["sample"] %></td>
            <td> <%= value["lpi"] %></td>
            <td> <%= value["demo"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  <input type="button" class="btn btn-primary" data-toggle="collapse" data-target=".missingRecords" value="Crosscheck Boatlog vs. Samples">
  <div class="span8 missingRecords collapse out">
    <div class="span3">
      <table class="display table table-bordered table-condensed">
        <h6>These are in the boatlog but do not have a matching diver sample </h6>
        <thead>
          <tr>
            <th>Diver</th>
            <th>Date</th>
            <th>Field ID</th>
          </tr>
        </thead>
        <tbody>
          <% @crosscheck_report.missing_samples_from_boat_log.each do |missing| %>
            <%= tag.tr "data-link": url_for(missing.related_model) do %>
              <td><%= missing.diver&.diver_name %></td>
              <td><%= missing.date %></td>
              <td><%= missing.field_id %></td>
            <%- end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <table class="display table table-bordered table-condensed">
        <h6>Diver has entered these but do not have matching Boatlog entry </h6>
        <thead>
          <tr>
            <th>Diver</th>
            <th>Date</th>
            <th>Field ID</th>
          </tr>
        </thead>
        <tbody>
          <% @crosscheck_report.missing_samples_from_diver.each do |missing| %>
            <%= tag.tr "data-link": url_for(missing.related_model) do %>
              <td><%= missing.diver&.diver_name %></td>
              <td><%= missing.date %></td>
              <td><%= missing.field_id %></td>
            <%- end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
