<div class="container">          
  <div class="row home">
    
    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for dashboard_show_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Dashboard</h6>
      </div>
    </div>
 
    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for boat_logs_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Boatlogs</h6>
      </div>
    </div>

    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for divers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Diver List</h6>
      </div>
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for animals_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Species List</h6>
      </div>
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for sample_types_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Sample Types</h6>
      </div>
      
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for habitat_types_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Habitat Types</h6>
      </div>
      
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for boatlog_managers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Boatlog Managers</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
        <%= link_to corals_path, class: "corals-link" do %>
          <%= image_tag "FormButton.jpg" %>
        <% end %>
      </div>
      <div class="text">
        <h6>Coral List</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for cover_cats_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Cover Category list</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for new_cleanup_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Data Cleanup</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for regions_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Regions</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for agencies_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Agencies</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for projects_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Projects</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for missions_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Missions</h6>
      </div>
      
    </div>

  </div>
</div>
