<div class="container">          
  <div class="row home">
    
    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for 'dashboard/show' %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Dashboard</h6>
      </div>
    </div>
 
    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for boat_logs_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Boatlogs</h6>
      </div>
    </div>

    <div class="span1">
     <div class="img_box">
       <a href=<%= url_for divers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Diver List</h6>
      </div>
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for animals_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Species List</h6>
      </div>
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for sample_types_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Sample Types</h6>
      </div>
      
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for habitat_types_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Habitat Types</h6>
      </div>
      
    </div>
 
    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for boatlog_managers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Boatlog Managers</h6>
      </div>
      
    </div>

    <div class="span1">
      <div class="img_box">
       <a href=<%= url_for corals_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Coral List</h6>
      </div>
      
    </div>
  </div>
</div>
