<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<% imagePath = "http://www.sefsc.noaa.gov/species/fish/fisheries_ecology_unit/images/webapp/" %>
<div>
  <a  
    href= <%= imagePath + "DiverAndCurrent.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "DiverAndCurrent_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "Diohyst.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "Diohyst_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "DiverAndGoliath.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "DiverAndGoliath_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "DiverAndTurtle.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "DiverAndTurtle_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "DiverBubbleRings.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "DiverBubbleRings_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "DiversShallow.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "DiversShallow_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "Lionfish.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "Lionfish_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "Permit.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "Permit_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "ShallowConch.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "ShallowConch_thumb.jpg" %>>
  </a>
  
  <a  
    href= <%= imagePath + "Squid.jpg"   %>
    data-gallery="#blueimp-gallery">
    <img src= <%= imagePath +  "Squid_thumb.jpg" %>>
  </a>
</div>

<script>
document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};

</script>
