<div class="container">
  <div class="row">
       <div class="span12">
            <div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                   <img <%= image_tag 'sunset.jpg' %> >
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img <%= image_tag 'sunset.jpg' %> >
                    <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img <%= image_tag 'sunset.jpg' %> >
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="container">          
  <div class="row home">
    <div class="span4">
      <div class="img_box">
        <a href= <%= url_for samples_path %>>
          <img <%= image_tag 'FormButton.jpg' %>
        </a>
      </div>
      <div class="text">
        <h6>Click here for list of your samples</h6>
          <p>
            Some text about where you are going when clicked.
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href="http://rvcmaps.herokuapp.com/">
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Click here to go to the RVC mapping application</h6>
          <p>
            Some text about where you are going when clicked
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href="http://femar.rsmas.miami.edu/rvc.html">
           <img <%= image_tag "FormButton.jpg" %>
       </a>
      </div>
      <div class="text">
        <h6>Another link to url of my choice</h6>
          <p>
            Some text about where you are going when clicked
          </p>
      </div>
    </div>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
  </div>
</div>

 
