<div class="container">
  <div class="row">
       <div class="span12">
            <div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img <%= image_tag 'RobvGoliath.JPG' %> 
                      <p>Photo Credits: Tara Dolan</p>
                  </div>
                  <div class="item">
                    <img <%= image_tag 'yellowline.jpg' %>
                      <p>Photo Credits: Evan D'Alessandro</p>
                  </div>
                  <div class="item">
                    <img <%= image_tag 'trio.jpg' %>
                      <p>Photo Credits: David Bryan, Evan D'Alessandro, Jiangang Luo </p>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="container">          
  <div class="row home">
    <div class="span4">
      <div class="img_box">
        <a href= <%= url_for samples_path %>>
          <img <%= image_tag 'FormButton.jpg' %>
        </a>
      </div>
      <div class="text">
        <h6>My fish samples</h6>
          <p>
            Some text about where you are going when clicked.
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href=<%= url_for benthic_covers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>My benthic(LPI) samples</h6>
          <p>
            Some text about where you are going when clicked
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href=<%= url_for coral_demographics_path %> >
           <img <%= image_tag "FormButton.jpg" %>
       </a>
      </div>
      <div class="text">
        <h6>My coral demographic samples</h6>
          <p>
            Some text about where you are going when clicked
          </p>
      </div>
    </div>

    <% if diver_signed_in? && current_diver.role == "admin" %>
      <%= render "admin" %>
    <% elsif diver_signed_in? && current_diver.role == 'manager' %>
      <%= render 'manager' %>'
    <% end %>

  </div>
</div>

 
