<div class="formContainer">
  <div class="section_1">
<%= form_for @sample_type, :validate => true do |f| %>
  
  <%= render "shared/error_messages", :target => @sample_type %>

  <div class='field'>
    <%= f.label :'Sample Type Name' %><br />
    <%= f.text_field :sample_type_name %>
  </div>
  <div class='field'>
    <%= f.label :'Sample Type Description' %><br />
    <%= f.text_field :sample_type_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
