
<body>
<table class="table table-striped">
  <tr>
    <th>Sample Type Name</th>
    <th>Sample Type Description</th>
    <th></th>
  </tr>

<% @sample_types.each do |sample_type| %>
  <tr>
    <td><%= sample_type.sample_type_name %></td>
    <td><%= sample_type.sample_type_description %></td>
    <td><%= link_to 'Show', sample_type %></td>
    <td><%= link_to 'Edit', edit_sample_type_path(sample_type) %></td>
    <td><%= link_to 'Destroy', sample_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</body>
<br />

<%= link_to 'New Sample type', new_sample_type_path %>
