<%= render "shared/nav_breadcrumbs", object: [["Sample Types", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_sample_type_path, class: "new-sample-type-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Sample Type
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @sample_types.each do |sample_type| %>
          <tr>
            <td><%= sample_type.sample_type_name %></td>
            <td><%= sample_type.sample_type_description %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_sample_type_path(sample_type), class: "usa-button usa-button--outline" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Delete", sample_type, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>