  <fieldset>
    <legend> Abiotic Footprint % </legend>
    <em>
    <table id="abioticFootprintTable">
      <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Sand") %>                                                   </td>
        <td> <%= object.text_field :sand_percentage, { :class => "abiotic_percentage", :tabindex => "12", :autocomplete => :off } %>        </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Hardbottom") %>                                             </td>
        <td> <%= object.text_field :hardbottom_percentage, { :class => "abiotic_percentage", :tabindex => "12", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Rubble") %>                                                 </td>
        <td> <%= object.text_field :rubble_percentage, { :class => "abiotic_percentage", :tabindex => "12", :autocomplete => :off } %>      </td>
      </tr>
      <tr>
        <td> <%= label(:name, "Total") %>                                                         </td>
        <td> <%= text_field_tag "abiotic_percentage_total", "0", :disabled => true %>             </td>
      </tr>
    </table>
  </em>
  </fieldset>
