  <% if false %>
    <%= object.fields_for :sample_animals do |builder| %>
  
      <%= builder.label "Species" %>
      <%= builder.collection_select :animal_id, Animal.all, :id, :common_name, {:include_blank => ""} %>
      <%= builder.label "N" %>
      <%= builder.number_field :number_individuals %>
      <%= builder.label "Mean" %>
      <%= builder.number_field :average_length %>
      <%= builder.label "Min" %>
      <%= builder.number_field :min_length %>
      <%= builder.label "Max" %>
      <%= builder.number_field :max_length %>
      <%= builder.link_to_remove "Remove Species"  %>

    <% end %>
  <% end %>

  <% if false%>
  <%= object.fields_for :sample_animals do |builder| %>
    <table id="speciesTable">
      <tr>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
      <tr>
        <td> <%#= builder.label "Species" %> </td>
        <td> <%= builder.collection_select :animal_id, Animal.all, :id, :common_name, {:include_blank => ""} %> </td>
        <td> <%#= builder.label "N" %> </td>
        <td> <%= builder.number_field :number_individuals %> </td>
        <td> <%#= builder.label "Mean" %> </td>
        <td> <%= builder.number_field :average_length %> </td>
        <td> <%#= builder.label "Min" %> </td>
        <td> <%= builder.number_field :min_length %> </td>
        <td> <%#= builder.label "Max" %> </td>
        <td> <%= builder.number_field :max_length %> </td>
        <td> <%= builder.link_to_remove "Remove Species"  %> </td>
      </tr>
    </table>
  <% end %>
  <% end %>
<%# if false %> 
    <table id="speciesTable">
      <tr>
        <th> Species </th>
        <th> Number </th>
        <th> Mean </th>
        <th> Min </th>
        <th> Max </th>
      </tr>
      <%= object.fields_for :sample_animals do |builder| %>
      <tr>
        <td> <%= builder.collection_select :animal_id, Animal.all, :id, :species_code, {:include_blank => ""} %> </td>
        <td> <%= builder.text_field :number_individuals %> </td>
        <td> <%= builder.text_field :average_length %> </td>
        <td> <%= builder.text_field :min_length %> </td>
        <td> <%= builder.text_field :max_length %> </td>
        <td> <%#= builder.link_to_remove "Remove Species"  %> </td>
      <% end %>
      </tr>
    </table>
<%# end %>
