  <fieldset>
    <legend> Biotic Cover Hardbottom </legend>
    <em>
    <table id="bioticCoverHardbottomTable">
      <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Algae <1cm") %>  </td>
        <td> <%= object.text_field :hardbottom_algal_turf, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Algae >1cm") %>  </td>
        <td> <%= object.text_field :hardbottom_macro_algae, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Live Coral") %>  </td>
        <td> <%= object.text_field :hardbottom_live_coral, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Octocoral") %>  </td>
        <td> <%= object.text_field :hardbottom_octocoral, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Sponge") %>  </td>
        <td> <%= object.text_field :hardbottom_sponge, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Other 1") %></td>
        <td> <%= object.text_field :hard_pcov_other1_lab %> </td>
        <td> <%= object.text_field :hard_pcov_other1, { :class => "biotic_percentage_hardbottom", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Other 2") %></td>
        <td> <%= object.text_field :hard_pcov_other2_lab %> </td>
        <td> <%= object.text_field :hard_pcov_other2, { :class => "biotic_percentage_hardbottom" } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= label(:name, "Total") %>                                                         </td>
        <td> <%= text_field_tag "biotic_percentage_hardbottom_total", "0", :disabled => true %>             </td>
      </tr>
    </table>
  </em>
  </fieldset>
