  <fieldset>
    <legend> Biotic Cover Sand </legend>
    <em>
    <table id="bioticCoverSandTable">
      <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Bare") %>  </td>
        <td> <%= object.text_field :sand_bare, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Macro algae") %>  </td>
        <td> <%= object.text_field :sand_macro_algae, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Seagrass") %>  </td>
        <td> <%= object.text_field :sand_seagrass, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= object.label(:name, "Sponge") %>  </td>
        <td> <%= object.text_field :sand_sponge, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Other1") %></td>
        <td> <%= object.text_field :sand_pcov_other1_lab %>  </td>
        <td> <%= object.text_field :sand_pcov_other1, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "Other2") %></td>
        <td> <%= object.text_field :sand_pcov_other2_lab %>  </td>
        <td> <%= object.text_field :sand_pcov_other2, { :class => "biotic_percentage_sand", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> </td>
        <td> <%= label(:name, "Total") %>                                                         </td>
        <td> <%= text_field_tag "biotic_percentage_sand_total", "0", :disabled => true %>             </td>
      </tr>
    </table>
  </em>
  </fieldset>
