
<% if @sample.new_record? %>
<% primary_diver = true %>
<%= object.fields_for :diver_samples do |builder| %>
  <% if primary_diver == true %>
    <% if_primary = current_diver.id %>
    <% thisDiver = "Diver"%>
    <%= builder.hidden_field :primary_diver, :value => true %>
    <% primary_diver = false %>
  <% else %>
    <% if_primary = "" %>
    <% thisDiver = "Buddy"%>
    <%= builder.hidden_field :primary_diver, :value => false %>
  <% end %>
        <div class="control-group">
          <label class="control-label"><%= thisDiver %></label>
          <div class="controls">
            <%= builder.collection_select :diver_id, Diver.active_divers.order(:diver_name).all, :id, :diver_name, { :include_blank => true, :selected => if_primary }, { :class => 'tab_1', :tabindex => "1"} %>
          </div>
        </div>
<% end %>
<% else %>

<% primary_diver = true %>
<%= object.fields_for :diver_samples do |builder| %>
  <% if primary_diver == true %>
    <% thisDiver = "Diver"%>
    <%= builder.hidden_field :primary_diver, :value => true %>
    <% primary_diver = false %>
  <% else %>
    <% thisDiver = "Buddy"%>
    <%= builder.hidden_field :primary_diver, :value => false %>
  <% end %>
        <div class="control-group">
          <label class="control-label"><%= thisDiver %></label>
          <div class="controls">
            <%= builder.collection_select :diver_id, Diver.active_divers.order(:diver_name).all, :id, :diver_name, { :include_blank => true }, { :class => 'tab_1', :tabindex => "1"} %>
          </div>
        </div>
<% end %>

<% end %>


