<div class="form-horizontal">
<%= nested_form_for @sample, :validate => false do |f| %>

  <%= render "shared/error_messages", :target => @sample%>

<select class="changeSection" tabindex="1">
  <option value="sampleSection">Sample Section</option>
  <option value="substrateSection">Substrate Section</option>
  <option value="speciesSection">Species Section</option>
</select>
<div class='formContainer'>
  <div id="sampleSection" class="sectionDiv">
    <div class='section_1'>
     <div id='section_1_part_1'>
       
       <div class="control-group">
          <label class="control-label" title="The person/agency who is responsible for this data">Boatlog/Manager</label>
          <div class="controls">
            <%= f.collection_select :boatlog_manager_id, BoatlogManager.all, :id, :agency_name, { :include_blank => "" }, {  :class => 'tab_1', :tabindex => "1" } %><br />
          </div>
        </div>
         
        <div class="control-group">
          <label class="control-label" title="The date sample was completed">Sample Date</label>
          <div class="controls">
            <%= f.text_field :sample_date, { :class => 'tab_1', :tabindex => "1" } %>
          </div>
        </div>
        
      <%= render "diver_selection", :object => f %>


        <div class="control-group">
          <label class="control-label">Sample Type</label>
          <div class="controls">
            <%= f.collection_select :sample_type_id, SampleType.all, :id, :sample_type_name, { :include_blank => "" }, { :class => 'tab_1', :tabindex => "1" } %><br />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Habitat Type</label>
          <div class="controls">
            <%= f.collection_select :habitat_type_id, HabitatType.caribbean_habitats, :id, :habitat_name, { :include_blank => "" }, { :class => 'tab_1', :tabindex => "1" } %><br />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Dive Begin Time</label>
          <div class="controls">
            <%= f.text_field :dive_begin_time, { :class => 'tab_1 timimg', :tabindex => "1" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Dive End Time</label>
          <div class="controls">
            <%= f.text_field :dive_end_time, { :class => 'tab_1 timimg', :tabindex => "1" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Sample Begin Time</label>
          <div class="controls">
            <%= f.text_field :sample_begin_time, { :class => 'tab_1 timimg', :tabindex => "1" } %>
          </div>
        </div>
      
        <div class="control-group">
          <label class="control-label">Sample End Time</label>
          <div class="controls">
            <%= f.text_field :sample_end_time, { :class => 'tab_1 timing', :tabindex => "1" } %>
          </div>
        </div>
      </div>

    <div id='section_1_part_2'>

        <div class="control-group">
          <label class="control-label">Field ID</label>
          <div class="controls">
            <%= f.text_field :field_id, { :class => 'tab_1', :tabindex => "1", :autocomplete => :off, :validate => true } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Dive Depth (ft)</label>
          <div class="controls">
            <%= f.text_field :dive_depth, { :class => 'tab_1', :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Sample Depth (ft)</label>
          <div class="controls">
            <%= f.text_field :sample_depth, { :class => 'tab_1', :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Visibility (ft)</label>
          <div class="controls">
            <%= f.text_field :underwater_visibility, { :class => 'tab_1', :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>
      
        <div class="control-group">
          <label class="control-label">Water Temp (°F)</label>
          <div class="controls">
            <%= f.text_field :water_temp, { :class => 'tab_1', :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>
     
        <div class="control-group">
          <label class="control-label">Current</label>
          <div class="controls">
            <%= f.select( :current, { "None" => "none", "Moderate" => "moderate", "Strong" => "strong" }, {}, { :class => 'tab_1', :tabindex => "1" } ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Fishing Gear</label>
          <div class="controls">
            <%= f.select :fishing_gear, { "None" => "none", "Trap" => "trap", "Trap Debris" => "trap debris", "Fishing" => "fishing", "Other" => "other" },{}, { :tabindex => "1"} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Comments</label>
          <div class="controls">
            <%= f.text_area :sample_description, { :size => '60x3', :autocomplete => :off, :tabindex => "1" } %>
          </div>
        </div>

    </div>
  </div>
    <button type="button" class="btn gotoButton" id="gotoSubstrate" disabled>Go To Substrate</button>
</div>

<div id="substrateSection" class="sectionDiv">
  <div class='section_2'>
    <div id='section_2_part_1'>
      
      <fieldset id="slope">
        <legend> Substrate Slope </legend>
        <em>
        <div class="control-group">
          <label class="control-label">Max Substrate Depth (ft)</label>
          <div class="controls">
            <%= f.text_field :substrate_max_depth, {:class => "tab_2", :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>
          
        <div class="control-group">
          <label class="control-label">Min Substrate Depth (ft)</label>
          <div class="controls">
            <%= f.text_field :substrate_min_depth, {:class => "tab_2", :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>
      </em>
      </fieldset>
      
     
      <fieldset id="vertRelief">
        <legend> Max Verticle Relief </legend>
        <em>
        <div class="control-group">
          <label class="control-label">Hard Substrate (m)</label>
          <div class="controls">
            <%= f.text_field :hard_verticle_relief, {:class => "tab_2", :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Soft Substrate (m)</label>
          <div class="controls">
            <%= f.text_field :soft_verticle_relief, {:class => "tab_2", :tabindex => "1", :autocomplete => :off } %>
          </div>
        </div>
      </em>
      </fieldset>
      
      <%= render "surface_relief_coverage", :object => f %>
    
    </div>

    <div id='section_2_part_2'>
      <%= render "abiotic_footprint", :object => f %>
    </div>

    <div id='section_2_part_3'>
      <%= render "biotic_cover_sand", :object => f %>
    </div>

    <div id='section_2_part_4'>
      <%= render "biotic_cover_hardbottom", :object => f %>
    </div>

  </div>
    <button type="button" class="btn gotoButton" id="gotoSpecies" disabled tabindex="13">Go To Species</button>
</div>

<div id="speciesSection" class="sectionDiv">
  <div class='section_3'>

      <div class="btn-group" data-toggle="buttons-radio">
        <button class='btn btn-primary time_seen_button active' type='button' id='timeSeen1' Value='1' >First 5 Minutes </button>
        <button class='btn btn-primary time_seen_button' type='button' id='timeSeen2' Value='2'>5 to 10 Minutes </button>
        <button class='btn btn-primary time_seen_button' type='button' id='timeSeen3' Value='3'>After 10 Minutes </button>
      </div>
     
      <div class="speciesLabels">
        <ul class="inline">
          <li id="species"> Species </li> <li id="num"> Num </li> <li id="mean"> Mean </li> <li id="min"> Min </li> <li id="max"> Max </li>
        </ul>
      </div>
    
    <div id="animals">
    <ol>   
      <%= render "animals", :object => f %>
      
      <%= f.link_to_add "Add species", :sample_animals %>
    </ol>
    </div>
  </div>

 

  <div class="actions">
    <button type="button" class="btn" id="validateAnimals">Validate Species</button><span class="validateIcon"></span>
    <%= f.submit "Submit Sample", :id => "submitButton" %>
  </div>

  


</div>
</div>

<% end %>
</div>
<script>
  var animal_info = <%= raw Animal.all.to_json %>
</script>
