<table id="showSpeciesTable">
  <tr>
    <th> Species </th>
    <th> Number </th>
    <th> Mean </th>
    <th> Min </th>
    <th> Max </th>
  </tr>
  <% for animal in @sample.sample_animals %>
  <tr>
    <td> <%= animal.get_common %> </td>
    <td> <%= animal.number_individuals  %> </td>
    <td> <%= animal.average_length %> </td>
    <td> <%= animal.min_length %> </td>
    <td> <%= animal.max_length %> </td>
  <% end %>
  </tr>
</table>


