<fieldset id="reliefCoverage">
  <legend> Surface Relief Coverage % </legend>
  <em>
    <table id="surfaceReliefTable">
      <tr>
        <th>  </th>
        <th> Hard </th>
        <th> Soft </th>
      </tr>
      <tr>
        <td> <%= object.label(:name, "< 0.2m") %>         </td>
        <td> <%= object.text_field :hard_relief_cat_0, { :class => "hard_relief", :tabindex => "2", :autocomplete => :off } %>  </td>
        <td> <%= object.text_field :soft_relief_cat_0, { :class => "soft_relief", :tabindex => "7", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "0.2 - 0.5m") %>     </td>
        <td> <%= object.text_field :hard_relief_cat_1, { :class => "hard_relief", :tabindex => "3", :autocomplete => :off } %>  </td>
        <td> <%= object.text_field :soft_relief_cat_1, { :class => "soft_relief", :tabindex => "8", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "0.5 - 1.0m") %>     </td>
        <td> <%= object.text_field :hard_relief_cat_2, { :class => "hard_relief", :tabindex => "4", :autocomplete => :off } %>  </td>
        <td> <%= object.text_field :soft_relief_cat_2, { :class => "soft_relief", :tabindex => "9", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "1.0 - 1.5m") %>     </td>
        <td> <%= object.text_field :hard_relief_cat_3, { :class => "hard_relief", :tabindex => "5", :autocomplete => :off } %>  </td>
        <td> <%= object.text_field :soft_relief_cat_3, { :class => "soft_relief", :tabindex => "10", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= object.label(:name, "> 1.5m") %>         </td>
        <td> <%= object.text_field :hard_relief_cat_4, { :class => "hard_relief", :tabindex => "6", :autocomplete => :off } %>  </td>
        <td> <%= object.text_field :soft_relief_cat_4, { :class => "soft_relief", :tabindex => "11", :autocomplete => :off } %>  </td>
      </tr>
      <tr>
        <td> <%= label(:name, "Total") %></td>
        <td> <%= text_field_tag "hard_relief_total", "0", :disabled => true %> </td>
        <td> <%= text_field_tag "soft_relief_total", "0", :disabled => true %> </td>
      </tr>
    </table>
  </em>
</fieldset>
