<%= render "shared/nav_breadcrumbs", object: [["Fish Samples", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <%= tag.div class: "sample-length-histogram maxh-mobile", data: { title: "Fishes with typical max lengths < 15cm", "url": length_histogram_samples_path(max_size_range_end: 15), "x-range": [0, 30].to_json } %>
    <%= tag.div class: "sample-length-histogram maxh-mobile", data: { title: "Fishes with typical max lengths between 15-30cm", "url": length_histogram_samples_path(max_size_range_begin: 15, max_size_range_end: 30), "x-range": [0, 30].to_json } %>
    <%= tag.div class: "sample-length-histogram maxh-mobile", data: { title: "Fishes with typical max lengths > 30cm", "url": length_histogram_samples_path(max_size_range_begin: 30), "x-range": [0, 30].to_json } %>
  </div>
</div>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_sample_path, class: "new-sample-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Sample
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to samples_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id, fishtype: "species_code"), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          <div>
            Proofing Report (.pdf)<br><span class="font-body-3xs">(species code)</span>
          </div>
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to samples_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id, fishtype: "common_name"), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          <div>
            Proofing Report (.pdf)<br><span class="font-body-3xs">(common name)</span>
          </div>
        <%- end %>
      </li>
      <%- if current_diver.manager? || current_diver.admin? %>
        <li class="usa-button-group__item">
          <%= link_to samples_path(format: "xlsx", nocache: SecureRandom.alphanumeric), class: "usa-button usa-button--accent-cool" do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
            </svg> 
            Samples (.xlsx)
          <%- end %>
        </li>
      <%- end %>
      <%- if current_diver.manager? %>
        <li class="usa-button-group__item">
          <%= link_to "#diver-proofing-report-modal", class: "usa-button usa-button--accent-warm", "aria-controls": "diver-proofing-report-modal", "data-open-modal": true do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
            </svg> 
            Diver Proofing Reports
          <%- end %>
          <div class="usa-modal" id="diver-proofing-report-modal" aria-labelledby="diver-proofing-report-modal-heading" aria-describedby="diver-proofing-report-modal-description">
            <div class="usa-modal__content">
              <div class="usa-modal__main">
                <h2 id="diver-proofing-report-modal-heading" class="usa-modal__heading">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
                  </svg> 
                  Diver Proofing Reports
                </h2>
                <div id="diver-proofing-report-modal-description">
                  <%= form_tag samples_path(format: "pdf"), class: "usa-form", method: "get" do %>
                    <%= hidden_field_tag :fishtype, "common_name" %>
                    <%= hidden_field_tag :nocache, SecureRandom.alphanumeric %>

                    <%= select_tag :diver_id, options_from_collection_for_select(current_diver.boatlog_manager.divers_responsible_for, :id, :diver_name), class: "usa-select usa-input--lg" %>

                    <%= button_tag class: "usa-button" do %>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
                      </svg> 
                      Proofing Report (.pdf)
                    <%- end %>

                    <%= button_tag "Close", type: "button", class: "usa-button usa-button--outline", "data-close-modal": true %>
                  <%- end %>
                </div>
              </div>

              <%= button_tag type: "button", class: "usa-button usa-modal__close", "aria-label": "Close this dialog", "data-close-modal": true do %>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#close") %>
                </svg> 
              <%- end %>
            </div>
          </div>
        </li>
      <%- end %>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col" class="width-card">Diver</th>
          <th scope="col" class="width-15">Field ID</th>
          <th scope="col" class="width-15">Date</th>
          <th scope="col" class="width-15">Sample Start Time</th>
          <th scope="col" class="width-card-lg not-orderable not-searchable"></th>
        </tr>
      </thead>
      <tbody>
        <%- @samples.each do |sample| %>
          <%= tag.tr "data-id": sample.id do %>
            <td class="width-card"><%= sample.diver&.diver_name %></td>
            <td class="width-15 fieldid_check"><%= sample.field_id %></td>
            <td class="width-15"><%= sample.sample_date %></td>
            <td class="width-15"><%= sample.sample_begin_time&.strftime("%H:%M") %></td>
            <td class="width-card-lg">
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "View", sample, class: "view-sample-button usa-button" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_sample_path(sample), class: "edit-sample-button usa-button usa-button--outline" %>
                </li>
              </ul>
            </td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>