<div class="appContainer">
  <div class="sampleListContainer">
    <h1>Listing samples</h1>
  
      <table id="sampleList", class="display">
        <thead>
         <tr>
           <th>Diver</th>
           <th>field ID</th>
           <th>Date</th>
           <th>Sample Start Time</th>
         </tr>
       </thead>
       <tbody>
      <% @samples.each do |sample| %>
        <tr data-link=" <%= sample_path(sample.id) %> ">
          <td><%= sample.diver_samples.primary.first.diver.diver_name %></td>
          <td class='fieldid_check'><%= sample.field_id %></td>
          <td><%= sample.sample_date %></td>
          <td><%= sample.sample_begin_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>
</div>
<%= link_to 'New Sample', new_sample_path %>
