<div class="appContainer">
  <div class="sampleListContainer">
    <h3><%= current_diver.whole_name %> Fish Samples</h3>
  
      <table id="sampleList" class="display table table-condensed">
        <thead>
         <tr>
           <th>Diver</th>
           <th>field ID</th>
           <th>Date</th>
           <th>Sample Start Time</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
      <% @samples.each do |sample| %>
        <tr data-id="<%= sample.id %>">
          <td><%= sample.diver.diver_name %></td>
          <td class='fieldid_check'><%= sample.field_id %></td>
          <td><%= sample.sample_date %></td>
          <td><%= sample.sample_begin_time.strftime("%H:%M") %></td>
          <td>
            <%= link_to "View", sample, class: "view-link" %>
            <%= link_to "Edit", edit_sample_path(sample), class: "edit-link" %>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  <div id="newSampleButton"> 
    <%= button_to('New Fish Sample', new_sample_path, :method => "get", :class => 'btn btn-large btn-primary')  %>   
  </div>
  
  <div id="downloadSampleButton"> 
    <%= link_to('Download Proofing Report (Species Code)', samples_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id, fishtype: "species_code"), :class => 'btn btn-small btn-primary')  %>   
  </div>

  <div id="downloadSampleButton2"> 
    <%= link_to('Download Proofing Report (Common Name)', samples_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id, fishtype: "common_name"), :class => 'btn btn-small btn-primary')  %>   
  </div>

<% if !current_diver.diver? %>
  <div id="downloadXLSXButton"> 
    <%= link_to('Download Samples (.xlsx)', samples_path(format: "xlsx", nocache: SecureRandom.alphanumeric), :class => 'btn btn-small btn-primary')  %>   
  </div>
<% end %>
<% if current_diver.manager? %>
  <div id="diverProofingReports" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        DiverProofingReports      
    </button>
      <ul class="dropdown-menu" role="menu">
        <% current_diver.boatlog_manager.divers_responsible_for.each do |diver| %>
          <li> <%= link_to(diver.diver_name, samples_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: diver.id, fishtype: "common_name")) %> </li>
        <% end %>
      </ul>
  </div>
<% end %>
  

</div>
