
<div class='formContainer'>
  <div id="sampleSection" class="sectionDiv">
  <div class='show_section_1'>
    <div id='section_1_part_1'>

      <dl class="dl-horizontal">
        <dt>Boatlog Manager</dt><dd><%= @sample.boatlog_manager.agency_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Date</dt><dd><%= @sample.sample_date %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Diver</dt><dd><%= @sample.diver_samples.primary.first.diver.diver_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Buddy</dt><dd><%= @sample.diver_samples.secondary.first.diver.diver_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Type</dt><dd><%= @sample.sample_type.sample_type_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Habitat Type</dt><dd><%= @sample.habitat_type.habitat_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Dive Begin Time</dt><dd><%= @sample.dive_begin_time.strftime("%H:%M") %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Dive End Time</dt><dd><%= @sample.dive_end_time.strftime("%H:%M") %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Begin Time</dt><dd><%= @sample.sample_begin_time.strftime("%H:%M") %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample End Time</dt><dd><%= @sample.sample_end_time.strftime("%H:%M") %></dd>
      </dl>

    </div>

    <div id='section_1_part_2'>

      <dl class="dl-horizontal">
        <dt>Field ID</dt><dd><%= @sample.field_id %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Max Dive Depth</dt><dd><%= @sample.dive_depth %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Station Depth</dt><dd><%= @sample.sample_depth %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Visibility</dt><dd><%= @sample.underwater_visibility %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Water Temp</dt><dd><%= @sample.water_temp %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Cylinder Radius</dt><dd><%= @sample.cylinder_radius %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Current</dt><dd><%= @sample.current %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Fishing Gear</dt><dd><%= @sample.fishing_gear %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Comments</dt><dd><%= @sample.sample_description %></dd>
      </dl>

    </div>
  </div>
</div>
<div class="showActions" >
 <%= button_to('Edit Sample', edit_sample_path(@sample), :method => "get", :class => 'btn btn-large btn-primary showAction') %>
 <%= button_to("Delete Sample", @sample, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-large btn-primary showAction') %>
 <%= button_to('Samples List', samples_path, :method => "get", :class => 'btn btn-large btn-primary showAction') %>
</div>

