<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Fish Samples", samples_path], ["Fish Sample #{@sample.field_id}", ""]] %>
  </div>
</div>

<div class="grid-row maxw-full bg-base-lightest">
  <div class="grid-col-5 padding-1">
    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Boatlog/Manager</span>
      <span class="width-card-lg display-inline-block"><%= @sample.boatlog_manager&.agency_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample Date</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_date %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Diver</span>
      <span class="width-card-lg display-inline-block"><%= @sample.diver&.diver_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Buddy</span>
      <span class="width-card-lg display-inline-block"><%= Diver.find_by(id: @sample.buddy)&.diver_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample Type</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_type&.sample_type_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Habitat Type</span>
      <span class="width-card-lg display-inline-block"><%= @sample.habitat_type&.habitat_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Dive Begin Time</span>
      <span class="width-card-lg display-inline-block"><%= @sample.dive_begin_time&.strftime("%H:%M") %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Dive End Time</span>
      <span class="width-card-lg display-inline-block"><%= @sample.dive_end_time&.strftime("%H:%M") %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample Begin Time</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_begin_time&.strftime("%H:%M") %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample End Time</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_end_time&.strftime("%H:%M") %></span>
    </div>

    <div class="margin-1 margin-top-2">
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <%= link_to samples_path, class: "list-button usa-button" do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#arrow_back") %>
            </svg>
            Back to List
          <%- end %>
        </li>
        <li class="usa-button-group__item">
          <%= link_to "Edit", edit_sample_path(@sample), class: "edit-button usa-button usa-button--outline" %>
        </li>
        <li class="usa-button-group__item">
          <%= link_to "Delete", @sample, data: { confirm: "Are you sure?" }, method: "delete", class: "delete-button usa-button usa-button--secondary" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-col-5 padding-1">
    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Field ID</span>
      <span class="width-card-lg display-inline-block"><%= @sample.field_id %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Max Dive Depth</span>
      <span class="width-card-lg display-inline-block"><%= @sample.dive_depth %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Station Depth</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_depth %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Visibility</span>
      <span class="width-card-lg display-inline-block"><%= @sample.underwater_visibility %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Water Temp</span>
      <span class="width-card-lg display-inline-block"><%= @sample.water_temp %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Current</span>
      <span class="width-card-lg display-inline-block"><%= @sample.current %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Fishing Gear</span>
      <span class="width-card-lg display-inline-block"><%= @sample.fishing_gear %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Comments</span>
      <span class="width-card-lg display-inline-block"><%= @sample.sample_description %></span>
    </div>
  </div>
</div>