<%= render "shared/nav_breadcrumbs", object: [["Edit Profile", ""]] %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "usa-form maxw-full bg-base-lightest" }) do |f| %>
  <%= render "shared/uswds_error_messages", target: resource %>

  <div class="grid-row padding-1">
    <div class="grid-col-12">
      <%= f.label :diver_number, class: "usa-label margin-top-0" %>
      <%= f.text_field :diver_number, class: "usa-input usa-input--md", autocomplete: "off", disabled: true %>
      
      <%= f.label :diver_name, class: "usa-label" %>
      <%= f.text_field :diver_name, class: "usa-input usa-input--xl", autocomplete: "off", disabled: true %>
      
      <%= f.label :username, class: "usa-label" %>
      <%= f.text_field :username, class: "usa-input usa-input--lg", autocomplete: "username", disabled: true %>

      <%= f.label :email, class: "usa-label" %>
      <%= f.email_field :email, class: "usa-input usa-input--xl", autofocus: true, autocomplete: "email", required: true %>
      <%= hidden_field_tag "diver[email_confirmed]", true %>

      <%= f.label :password, "New password (leave blank to leave it unchanged)", class: "usa-label" %>
      <%= f.password_field :password, class: "usa-input usa-input--lg", autocomplete: "new-password", minlength: @minimum_password_length %>

      <%= f.label :password_confirmation, "New password confirmation (leave blank to leave it unchanged)", class: "usa-label" %>
      <%= f.password_field :password_confirmation, class: "usa-input usa-input--lg", autocomplete: "new-password", minlength: @minimum_password_length %>

      <%= f.label :current_password, class: "usa-label" %>
      <%= f.password_field :current_password, class: "usa-input usa-input--lg", autocomplete: "current-password", required: true %>

      <%= f.submit "Save", class: "usa-button" %>
      <%= link_to "Cancel", root_path, class: "usa-button usa-button--outline" %>
    </div>
  </div>
<% end %>