<%= form_for(@diver) do |f| %>
  <% if @diver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diver.errors.count, "error") %> prohibited this diver from being saved:</h2>

      <ul>
      <% @diver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :'Diver Number' %><br />
    <%= f.text_field :diver_number %>
  </div>
  <div class='field'>
    <%= f.label :'Diver Name' %><br />
    <%= f.text_field :diver_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
