<%= form_for(@diver) do |f| %>
  
  <%= render "shared/error_messages", :target => @diver %>

  <div class='field'>
    <%= f.label :'Diver Number' %><br />
    <%= f.text_field :diver_number %>
  </div>
  <div class='field'>
    <%= f.label :'Diver Name' %><br />
    <%= f.text_field :diver_name %>
  </div>
  <div class='field'>
    <%= f.label :'Diver Active?' %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
