<div class="grid-container">
  <h2>Corals</h2>

  <ul class="usa-button-group margin-bottom-1">
    <li class="usa-button-group__item">
      <%= link_to "New Coral", new_coral_path, class: "usa-button" %>
    </li>
  </ul>

  <table class="width-full display">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Scientific Name</th>
        <th scope="col">Short Code</th>
        <th scope="col">Rank</th>
        <th scole="col"></th>
      </tr>
    </thead>
    <tbody>
      <%- @corals.each do |coral| %>
        <tr>
          <td><%= coral.code %></td>
          <td><%= coral.scientific_name %></td>
          <td><%= coral.short_code %></td>
          <td><%= coral.rank %></td>
          <td>
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <%= link_to "Edit", edit_coral_path(coral), class: "usa-button usa-button--outline" %>
              </li>
              <li class="usa-button-group__item">
                <%= link_to "Delete", coral, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
              </li>
            </ul>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</div>