<div class="appContainer">
  <div class="animalsListContainer">
    <h2>Corals List</h2>
      <table id="animalsList" class="display table table-striped table-condensed">
        <thead>
        <tr>
          <th> Code </th>
          <th> Scientific Name </th>
          <th> Edit </th>
          <th> Delete </th>
        </tr>
      </thead>
      <tbody>
      <% @corals.each do |coral| %>
        <tr>
          <td><%= coral.code %> </td>
          <td><%= coral.scientific_name %> </td>
          <td><%= link_to 'Edit', edit_coral_path(coral) %></td>
          <td><%= link_to 'Destroy', coral, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>
</div>

    <%= button_to('New Coral', new_coral_path, :method => "get", :class => 'btn btn-large btn-primary wrap')  %>   
