<%= render "shared/nav_breadcrumbs", object: [["Corals", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_coral_path, class: "new-coral-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Coral
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col" class="width-15">Code</th>
          <th scope="col" class="width-auto">Scientific Name</th>
          <th scope="col" class="width-15">Short Code</th>
          <th scope="col" class="width-10">Rank</th>
          <th scope="col" class="width-card-lg not-orderable not-searchable"></th>
        </tr>
      </thead>
      <tbody>
        <%- @corals.each do |coral| %>
          <tr>
            <td class="width-15"><%= coral.code %></td>
            <td class="width-auto"><%= coral.scientific_name %></td>
            <td class="width-15"><%= coral.short_code %></td>
            <td class="width-10"><%= coral.rank %></td>
            <td class="width-card-lg">
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_coral_path(coral), class: "usa-button usa-button--outline" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Delete", coral, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>