<h1>Listing corals</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Scientific name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @corals.each do |coral| %>
  <tr>
    <td><%= coral.code %></td>
    <td><%= coral.scientific_name %></td>
    <td><%= link_to 'Show', coral %></td>
    <td><%= link_to 'Edit', edit_coral_path(coral) %></td>
    <td><%= link_to 'Destroy', coral, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coral', new_coral_path %>
