<%= form_for @boatlog_manager, html: { class: "usa-form maxw-full bg-base-lightest" } do |f| %>
  <%= render "shared/uswds_error_messages", target: @boatlog_manager %>

  <div class="grid-row padding-1">
    <div class="grid-col-12">
      <%= f.label :agency, class: "usa-label margin-top-0" %>
      <%= f.text_field :agency, class: "usa-input usa-input--lg" %>

      <%= f.label :firstname, "First name", class: "usa-label" %>
      <%= f.text_field :firstname, class: "usa-input usa-input--lg" %>

      <%= f.label :lastname, "Last name", class: "usa-label" %>
      <%= f.text_field :lastname, class: "usa-input usa-input--lg" %>

      <%= f.submit class: "usa-button" %>
      <%= link_to "Cancel", boatlog_managers_path, class: "usa-button usa-button--outline" %>
    </div>
  </div>
<% end %>