<%= render "shared/nav_breadcrumbs", object: [["Boatlog Managers", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_boatlog_manager_path, class: "new-boatlog-manager-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Boatlog Manager
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col" class="width-card">Agency</th>
          <th scope="col" class="width-card">First name</th>
          <th scope="col" class="width-card">Last name</th>
          <th scope="col" class="width-card-lg not-orderable not-searchable"></th>
        </tr>
      </thead>
      <tbody>
        <%- @boatlog_managers.each do |boatlog_manager| %>
          <tr>
            <td class="width-card"><%= boatlog_manager.agency %></td>
            <td class="width-card"><%= boatlog_manager.firstname %></td>
            <td class="width-card"><%= boatlog_manager.lastname %></td>
            <td class="width-card-lg">
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_boatlog_manager_path(boatlog_manager), class: "usa-button usa-button--outline" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Delete", boatlog_manager, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>