<div class="appContainer">
<h3>Boatlog Managers</h3>
<table class="display table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Agency</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @boatlog_managers.each do |boatlog_manager| %>
  <tr>
    <td><%= boatlog_manager.agency %></td>
    <td><%= boatlog_manager.firstname %></td>
    <td><%= boatlog_manager.lastname %></td>
    <td>
      <%= link_to 'Edit', edit_boatlog_manager_path(boatlog_manager) %>
      <%= link_to 'Destroy', boatlog_manager, data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

    <%= button_to('New Boatlog Manger', new_boatlog_manager_path, :method => "get", :class => 'btn btn-large btn-primary wrap')  %>   
</div>
