<p>
  <b>Agency:</b>
  <%= @boatlog_manager.agency %>
</p>

<p>
  <b>Firstname:</b>
  <%= @boatlog_manager.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @boatlog_manager.lastname %>
</p>


<%= link_to 'Edit', edit_boatlog_manager_path(@boatlog_manager) %> |
<%= link_to 'Back', boatlog_managers_path %>
