<div class="form-horizontal">
<%= nested_form_for @benthic_cover do |f| %>
  <%= render "shared/error_messages", :target => @benthic_cover%>


    <div class="formContainer" id="benthicCoverData">
      <div class="row">
        <div class="span4 part_1">

       <div class="control-group">
          <label class="control-label">Boatlog/Manager</label>
          <div class="controls">
            <%= f.collection_select :boatlog_manager_id, BoatlogManager.all, :id, :agency_name, { :include_blank => "" } %><br />
          </div>
        </div>

        <%= render 'diver_selection', :object => f %>
         
        <div class="control-group">
          <label class="control-label">Buddy</label>
          <div class="controls">
            <%= f.collection_select :buddy, Diver.all.order(:diver_name), :id, :diver_name, { :include_blank => "" }%><br />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Field ID</label>
          <div class="controls">
            <%= f.text_field :field_id %>
          </div>
        </div>

        <div class="control-group date">
          <label class="control-label">Sample Date</label>
          <div class="controls">
            <%= f.text_field :sample_date %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Sample Begin Time</label>
          <div class="controls">
            <%= f.text_field :sample_begin_time, {value: @benthic_cover.try(:sample_begin_time).try(:strftime, "%H:%M") }%>
          </div>
        </div>

        </div> 
        <div class="span4 part_2">

        <div class="control-group">
          <label class="control-label">Habitat Type</label>
          <div class="controls">
            <%= f.collection_select :habitat_type_id, HabitatType.atlantic_habitats, :id, :habitat_name, { :include_blank => "" } %><br />
          </div>
        </div>


        <div class="control-group">
          <label class="control-label">Meters Completed LPI</label>
          <div class="controls">
            <%= f.text_field :meters_completed %>
          </div>
        </div>

         <div class="control-group">
          <label class="control-label">Notes</label>
          <div class="controls">
            <%= f.text_area :sample_description, { :size => "200x5" } %>
          </div>
        </div> 

      </div>
      </div>

  <div class="row">
    <div class="span6 coverCats">
      <fieldset>

        <ul class="inline lpiHeaders">
          <li id="cover"> Cover </li> <li id="hard"> Hard </li> <li id=soft> Soft </li> <li id="rubble"> Rubble </li>
        </ul>

        

        <legend> Cover Categories <span class="label coverTotal">  </span></legend>
        <div class="cover_data">
          <%= f.fields_for :point_intercepts do |builder| %>
            <%= render 'point_intercept_fields', f: builder %>
          <% end %>
          <%= f.link_to_add "Add Cover", :point_intercepts %>
        </div>
      </fieldset>
    </div>

    <div class=span3>
      <fieldset>
        <legend> Rugosity Measurement </legend>
        <div>
          <%= f.fields_for :rugosity_measure do |builder| %>
            <%= render 'rugosity_measure_fields', f: builder %>
          <% end %>
        </div>
      </fieldset>
      <%= f.fields_for :invert_belt do |builder| %>
        <%= render 'invert_belt_fields', f: builder %>
      <% end %>

      <%= f.fields_for :presence_belt do |builder| %>
        <%= render 'presence_belt_fields', f: builder %>
      <% end %>
    </div>
  </div>
</div>

<div class="actions">
  <div align="left" style="float:none;font-size:150%"> You are submitting </div>
  <div align="left" style="float:none;font-size:250%" class="coverTotal"> </div>
  <br>
    <%= f.submit "Submit LPI", :id => "lpiSubmit" %>
</div>

</div>

<% end %>
