
<fieldset>
  <legend> Presence/Absence </legend>
  
        <div class="control-group">
          <label class="control-label">A.cervicornis</label>
          <div class="controls">
            <%= f.select( :a_cervicornis,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">A.palmata</label>
          <div class="controls">
            <%= f.select( :a_palmata,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label">A.lamarcki</label>
          <div class="controls">
            <%= f.select( :a_lamarcki,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D.cylindrus</label>
          <div class="controls">
            <%= f.select( :d_cylindrus,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D.stokesii</label>
          <div class="controls">
            <%= f.select( :d_stokesii,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.annularis</label>
          <div class="controls">
            <%= f.select( :m_annularis,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"> M.faveolata </label>
          <div class="controls">
            <%= f.select( :m_faveolata,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label">M.franksi</label>
          <div class="controls">
            <%= f.select( :m_franksi,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.ferox</label>
          <div class="controls">
            <%= f.select( :m_ferox,{ "Absent" => 0, "Present" => 1, "Did Not Look" => 3 } , {:include_blank => ""} ) %>
          </div>
        </div>

  
</fieldset>
