
<fieldset>
  <legend> Presence/Absence </legend>
  
        <div class="control-group">
          <label class="control-label">A.cervicornis</label>
          <div class="controls">
            <%= f.select( :a_cervicornis, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">A.palmata</label>
          <div class="controls">
            <%= f.select( :a_palmata, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label">D.cylindrus</label>
          <div class="controls">
            <%= f.select( :d_cylindrus, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">O.annularis</label>
          <div class="controls">
            <%= f.select( :m_annularis, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"> O.faveolata </label>
          <div class="controls">
            <%= f.select( :m_faveolata, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>
    
        <div class="control-group">
          <label class="control-label">O.franksi</label>
          <div class="controls">
            <%= f.select( :m_franksi, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.ferox</label>
          <div class="controls">
            <%= f.select( :m_ferox, PresenceBelt::ENUM_VALUES.keys, {:include_blank => ""} ) %>
          </div>
        </div>

  
</fieldset>
