
<fieldset>
  <legend> Presence/Absence </legend>

        <div class="control-group">
          <label class="control-label">A.palmata</label>
          <div class="controls">
            <%= f.text_field :a_palmata %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">A.cervicornis</label>
          <div class="controls">
            <%= f.text_field :a_cervicornis %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D.cylindrus</label>
          <div class="controls">
            <%= f.text_field :d_cylindrus %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.ferox</label>
          <div class="controls">
            <%= f.text_field :m_ferox %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">A.lamarcki</label>
          <div class="controls">
            <%= f.text_field :a_lamarcki %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.annularis</label>
          <div class="controls">
            <%= f.text_field :m_annularis %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">M.franksi</label>
          <div class="controls">
            <%= f.text_field :m_franksi %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"> M.faveolata </label>
          <div class="controls">
            <%= f.text_field :m_faveolata %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">D.stokesii</label>
          <div class="controls">
            <%= f.text_field :d_stokesii %>
          </div>
        </div>
    
  
</fieldset>
