<div class="span3">
  <fieldset>
    <div class="control-group">
      <label class="control-label">Min Depth(ft)</label>
      <div class="controls">
        <%= f.text_field :min_depth %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Max Depth(ft)</label>
      <div class="controls">
        <%= f.text_field :max_depth %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Meters Completed Rugosity(m)</label>
      <div class="controls">
        <%= f.text_field :rug_meters_completed %>
      </div>
    </div>
  </fieldset>
</div>

<div class="span3 rugosityCategories">
  <fieldset>
    
    <div class="control-group">
      <label class="control-label"> meter 0-1 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_1, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 1-2 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_2, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 2-3 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_3, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 3-4 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_4, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 4-5 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_5, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 5-6 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_6, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 6-7 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_7, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 7-8 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_8, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 8-9 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_9, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 9-10 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_10, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 10-11 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_11, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 11-12 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_12, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 12-13 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_13, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 13-14 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_14, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> meter 14-15 </label>
      <div class="controls">
        <%= f.text_field :meter_mark_15, { class: 'RugosityCat' } %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"> total </label>
      <div class="controls">
        <%= text_field_tag "RugosityTotalDisplay", "0", :disabled => true %>
      </div>
    </div>

  </fieldset>
</div>
