<div class="appContainer">
  <div class="sampleListContainer">
    <h3><%= current_diver.whole_name %> Benthic Cover Samples</h3>
  
      <table id="sampleList" class="display table table-condensed">
        <thead>
         <tr>
           <th>Diver</th>
           <th>field ID</th>
           <th>Date</th>
           <th>Sample Start Time</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
      <% @benthic_covers.each do |benthic_cover| %>
        <tr>
          <td><%= benthic_cover.diver.diver_name %></td>
          <td class='fieldid_check'><%= benthic_cover.field_id %></td>
          <td><%= benthic_cover.sample_date %></td>
          <td><%= benthic_cover.sample_begin_time.strftime("%H:%M") %></td>
          <td>
            <%= link_to "View", benthic_cover %>
            <%= link_to "Edit", edit_benthic_cover_path(benthic_cover) %>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>
  <div id="newSampleButton"> 
    <%= button_to('New LPI', new_benthic_cover_path, :method => "get", :class => 'btn btn-large btn-primary wrap')  %>   
  </div>
  <div id="downloadSampleButton"> 
    <%= button_to('Download Proofing Report (.pdf)', benthic_covers_path(format: "pdf", diver_id: current_diver.id), :method => "get", :class => 'btn btn-small btn-primary')  %>   
  </div>
<% if !current_diver.diver? %>
  <div id="downloadXLSXButton"> 
    <%= button_to('Download Samples (.xlsx)', benthic_covers_path(format: "xlsx"), :method => "get", :class => 'btn btn-small btn-primary')  %>   
  </div>
<% end %>

<% if current_diver.manager? %>
  <div id="diverProofingReports" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        DiverProofingReports      
    </button>
      <ul class="dropdown-menu" role="menu">
        <% current_diver.boatlog_manager.divers_responsible_for.each do |diver| %>
          <li> <%= link_to(diver.diver_name, benthic_covers_path(format: "pdf", diver_id: diver.id), :method => "get") %> </li>
        <% end %>
      </ul>
  </div>
<% end %>
</div>

