<%= render "shared/nav_breadcrumbs", object: [["Benthic Cover Samples", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_benthic_cover_path, class: "new-sample-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New LPI
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to benthic_covers_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          <div>
            Proofing Report (.pdf)
          </div>
        <%- end %>
      </li>
      <%- if current_diver.manager? || current_diver.admin? %>
        <li class="usa-button-group__item">
          <%= link_to benthic_covers_path(format: "xlsx", nocache: SecureRandom.alphanumeric), class: "usa-button usa-button--accent-cool" do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
            </svg> 
            Samples (.xlsx)
          <%- end %>
        </li>
      <%- end %>
      <%- if current_diver.manager? %>
        <li class="usa-button-group__item">
          <%= link_to "#diver-proofing-report-modal", class: "usa-button usa-button--accent-warm", "aria-controls": "diver-proofing-report-modal", "data-open-modal": true do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
            </svg> 
            Diver Proofing Reports
          <%- end %>
          <div class="usa-modal" id="diver-proofing-report-modal" aria-labelledby="diver-proofing-report-modal-heading" aria-describedby="diver-proofing-report-modal-description">
            <div class="usa-modal__content">
              <div class="usa-modal__main">
                <h2 id="diver-proofing-report-modal-heading" class="usa-modal__heading">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
                  </svg> 
                  Diver Proofing Reports
                </h2>
                <div id="diver-proofing-report-modal-description">
                  <%= form_tag benthic_covers_path(format: "pdf"), class: "usa-form", method: "get" do %>
                    <%= hidden_field_tag :nocache, SecureRandom.alphanumeric %>

                    <%= select_tag :diver_id, options_from_collection_for_select(current_diver.boatlog_manager.divers_responsible_for, :id, :diver_name), class: "usa-select usa-input--lg" %>

                    <%= button_tag class: "usa-button" do %>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
                      </svg> 
                      Proofing Report (.pdf)
                    <%- end %>

                    <%= button_tag "Close", type: "button", class: "usa-button usa-button--outline", "data-close-modal": true %>
                  <%- end %>
                </div>
              </div>

              <%= button_tag type: "button", class: "usa-button usa-modal__close", "aria-label": "Close this dialog", "data-close-modal": true do %>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#close") %>
                </svg> 
              <%- end %>
            </div>
          </div>
        </li>
      <%- end %>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">Field ID</th>
          <th scope="col">Date</th>
          <th scope="col">Sample Start Time</th>
          <th scope="col" class="not-orderable not-searchable"></th>
        </tr>
      </thead>
      <tbody>
        <%- @benthic_covers.each do |benthic_cover| %>
          <%= tag.tr "data-id": benthic_cover.id do %>
            <td><%= benthic_cover.diver&.diver_name %></td>
            <td class="fieldid_check"><%= benthic_cover.field_id %></td>
            <td><%= benthic_cover.sample_date %></td>
            <td><%= benthic_cover.sample_begin_time&.strftime("%H:%M") %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "View", benthic_cover, class: "view-sample-button usa-button" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_benthic_cover_path(benthic_cover), class: "edit-sample-button usa-button usa-button--outline" %>
                </li>
              </ul>
            </td>
          <%- end %>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>