
<div class='formContainer'>
  <div id="sampleSection" class="sectionDiv">
  <div class='show_section_1'>
    <div id='section_1_part_1'>

      <dl class="dl-horizontal">
        <dt>Boatlog/Manager</dt><dd><%= @benthic_cover.boatlog_manager.agency_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Diver</dt><dd><%= @benthic_cover.diver.diver_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Buddy</dt><dd><%= Diver.find(@benthic_cover.buddy).diver_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Field ID</dt><dd><%= @benthic_cover.field_id %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Date</dt><dd><%= @benthic_cover.sample_date %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Sample Time</dt><dd><%= @benthic_cover.sample_begin_time.strftime("%H:%M") %></dd>
      </dl>

    </div>

    <div id='section_1_part_2'>

      <dl class="dl-horizontal">
        <dt>Habitat Type</dt><dd><%= @benthic_cover.habitat_type.habitat_name %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Meters Completed</dt><dd><%= @benthic_cover.meters_completed %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Notes</dt><dd><%= @benthic_cover.sample_description %></dd>
      </dl>
      </div>
  </div>
</div>

<div class="showActions" >
 <%= button_to('Edit LPI', edit_benthic_cover_path(@benthic_cover), :method => "get", :class => 'btn btn-large btn-primary showAction') %>
 <%= button_to("Delete LPI", @benthic_cover, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-large btn-primary showAction') %>
 <%= button_to('LPI List', benthic_covers_path, :method => "get", :class => 'btn btn-large btn-primary showAction') %>
</div>
