<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Benthic Covers", benthic_covers_path], ["Benthic Cover #{@benthic_cover.field_id}", ""]] %>
  </div>
</div>

<div class="grid-row maxw-full bg-base-lightest">
  <div class="grid-col-6 padding-1">
    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Mission</span>
      <span class="width-mobile display-inline-block"><%= @benthic_cover.mission&.display_name(include_region: true) %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Diver</span>
      <span class="width-mobile display-inline-block"><%= @benthic_cover.diver&.diver_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Buddy</span>
      <span class="width-mobile display-inline-block"><%= Diver.find_by(id: @benthic_cover.buddy)&.diver_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Field ID</span>
      <span class="width-mobile display-inline-block"><%= @benthic_cover.field_id %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample Date</span>
      <span class="width-mobile display-inline-block"><%= @benthic_cover.sample_date %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Sample Time</span>
      <span class="width-mobile display-inline-block"><%= @benthic_cover.sample_begin_time&.strftime("%H:%M") %></span>
    </div>

    <div class="margin-1 margin-top-2">
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <%= link_to benthic_covers_path, class: "list-button usa-button" do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#arrow_back") %>
            </svg>
            Back to List
          <%- end %>
        </li>
        <li class="usa-button-group__item">
          <%= link_to "Edit", edit_benthic_cover_path(@benthic_cover), class: "edit-button usa-button usa-button--outline" %>
        </li>
        <li class="usa-button-group__item">
          <%= link_to "Delete", @benthic_cover, data: { confirm: "Are you sure?" }, method: "delete", class: "delete-button usa-button usa-button--secondary" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-col-6 padding-1">
    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Habitat Type</span>
      <span class="width-card-lg display-inline-block"><%= @benthic_cover.habitat_type.habitat_name %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Meters Completed</span>
      <span class="width-card-lg display-inline-block"><%= @benthic_cover.meters_completed %></span>
    </div>

    <div class="margin-1">
      <span class="width-card margin-right-1 text-bold display-inline-block">Notes</span>
      <span class="width-card-lg display-inline-block"><%= @benthic_cover.sample_description %></span>
    </div>
  </div>
</div>