<%= render "shared/nav_breadcrumbs", object: [["Agencies", ""]] %>

<div class="grid-row">
  <div class="grid-col-12">
    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_agency_path, class: "new-agency-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Agency
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col" class="width-card-lg">Name</th>
          <th scope="col" class="width-card-lg not-orderable not-searchable"></th>
        </tr>
      </thead>
      <tbody>
        <%- @agencies.each do |agency| %>
          <tr>
            <td class="width-card-lg"><%= agency.name %></td>
            <td class="width-card-lg">
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_agency_path(agency), class: "usa-button usa-button--outline" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Delete", agency, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>