<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Animals", ""]] %>

    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_animal_path, class: "new-animal-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Species
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to animals_path(format: "xlsx", nocache: SecureRandom.alphanumeric), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          Download Current Species List
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col">Scientific Name</th>
          <th scope="col">Common Name</th>
          <th scole="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @animals.each do |animal| %>
          <tr>
            <td><%= animal.scientific_name %></td>
            <td><%= animal.common_name %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_animal_path(animal), class: "usa-button usa-button--outline" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Delete", animal, data: { confirm: "Are you sure?" }, method: "delete", class: "usa-button usa-button--secondary" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>