<div class="appContainer">
  <div class="animalsListContainer">
    <h2>Listing animals</h2>
      <table id="animalsList" class="display table table-striped table-condensed">
        <thead>
        <tr>
          <th> Scientific Name </th>
          <th> Common Name </th>
          <th> Edit </th>
          <th> Delete </th>
        </tr>
      </thead>
      <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.scientific_name %> </td>
          <td><%= animal.common_name %> </td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Destroy', animal, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>
</div>

<%= link_to 'New Animal', new_animal_path %>
