<%= form_for @project, html: { class: "usa-form maxw-full bg-base-lightest", autocomplete: "off" } do |f| %>
  <%= render "shared/uswds_error_messages", target: @project %>

  <div class="grid-row padding-1">
    <div class="grid-col-12">
      <div>
        <%= f.label :name, "Name", class: "usa-label margin-top-0" %>
        <%= f.text_field :name, class: "usa-input usa-input--xl", autofocus: true, autocomplete: "off" %>
      </div>

      <div>
        <%= f.submit class: "usa-button" %>
        <%= link_to "Cancel", projects_path, class: "usa-button usa-button--outline" %>
      </div>
    </div>
  </div>
<% end %>