
  <li>
  <%= f.collection_select :coral_id, Coral.order(:id).all, :id, :coral_code_name, {:include_blank => ""}, { :class => "coralSpecies" } %>
  <%= f.text_field :max_diameter, { :class => "coralSpeciesData" } %>
    <%= f.text_field :perpendicular_diameter, { :class => "coralSpeciesData" } %>
    <%= f.text_field :height, { :class => "coralSpeciesData" } %>
    <%= f.text_field :old_mortality, { :class => "coralSpeciesData" } %>
    <%= f.text_field :recent_mortality, { :class => "coralSpeciesData" } %>
    <%= f.select( :bleach_condition, { "None" => "N", "Partial" => "P", "Total" => "T" } , {:include_blank => ""}, { :class => "coralSpeciesData" } ) %>
    <%= f.select( :disease, { "Absent" => "absent", "Present" => "present" } , {:include_blank => ""}, { :class => "coralSpeciesData" } ) %>
    <%= f.link_to_remove "Remove Coral", {:tabindex => "-1"}  %>
  </li>
