
  <li>
    <%= f.text_field :meter_mark, { :class => "coralSpeciesData", :id => "meter_mark" } %>
    <%= f.select :coral_id, Coral.order(:rank, :code).map { |c| [c.display_name, c.id, { data: { rank: c.rank }}] }, { include_blank: true }, class: "coralSpecies" %>
    <%= f.text_field :max_diameter, { :class => "coralSpeciesData" } %>
    <%= f.text_field :perpendicular_diameter, { :class => "coralSpeciesData" } %>
    <%= f.text_field :height, { :class => "coralSpeciesData" } %>
    <%= f.text_field :old_mortality, { :class => "coralSpeciesData" } %>
    <%= f.text_field :recent_mortality, { :class => "coralSpeciesData" } %>
    <%= f.select( :bleach_condition, { "None" => "N", "Partial Bleaching" => "PB", "Total" => "T", "Paling" => "P" } , {:include_blank => ""}, { :class => "coralSpeciesData" } ) %>
    <%= f.select( :disease, { "Absent" => "absent", "Present" => "present", "Fast" => "fast", "Slow" => "slow" } , {:include_blank => ""}, { :class => "coralSpeciesData" } ) %>
    <%= f.link_to_remove "Remove Coral", {:tabindex => "-1"}  %>
  </li>
