<%= nested_form_for @coral_demographic, data: { "drafts-url": draft_coral_demographics_path(id: @coral_demographic.id), "draft-restored": @draft.present?, "draft-focused-dom-id": @draft&.focused_dom_id }, html: { class: "coral-demographic-form formContainer usa-form maxw-full bg-base-lightest padding-1 padding-top-0" } do |f| %>
  <%= render "shared/uswds_error_messages", target: @coral_demographic %>

  <div class="grid-row flex-row">
    <div class="grid-col-6">
      <div>
        <%= label_tag :coral_demographic_region_id, "Region", class: "usa-label display-inline-block width-card" %>
        <%= select_tag :coral_demographic_region_id, options_for_select(region_options(current_mission: f.object.mission), f.object.mission.try(:region_id)), include_blank: true, autofocus: true, class: "region-select usa-select usa-input--lg display-inline-block", required: true %>
      </div>

      <div>
        <%= f.label :mission_id, "Mission", class: "usa-label display-inline-block width-card" %>
        <%= f.select :mission_id, mission_options(current_mission: f.object.mission), { include_blank: true }, class: "mission-select usa-select usa-input--lg display-inline-block", required: true %>
      </div>

      <div>
        <%= f.label :diver_id, "Diver", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :diver_id, Diver.active_divers.order(:diver_name), :id, :diver_name, { include_blank: true }, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :buddy_id, "Buddy", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :buddy_id, Diver.active_divers.order(:diver_name), :id, :diver_name, { include_blank: true }, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :field_id, "Field ID", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :field_id, class: "usa-input usa-input--sm display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_date, "Sample Date", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :sample_date, class: "usa-input usa-input--md display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_begin_time, "Sample Begin Time", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :sample_begin_time, value: f.object.sample_begin_time&.strftime("%H:%M"), class: "usa-input usa-input--sm display-inline-block" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div>
        <%= f.label :habitat_type_id, "Habitat Type", class: "usa-label display-inline-block width-card" %>
        <%= f.select :habitat_type_id, habitat_type_options(current_region_id: f.object.region&.id), { include_blank: true }, class: "habitat-type-select usa-select usa-input--lg display-inline-block", required: true %>
      </div>

      <div>
        <%= f.label :meters_completed, "Meters Completed", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :meters_completed, class: "usa-input usa-input--xs display-inline-block" %>
      </div>

      <div>
        <%= f.label :percent_hardbottom, "Percent Hardbottom", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :percent_hardbottom, class: "usa-input usa-input--xs display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_description, "Notes", class: "usa-label display-inline-block width-card text-top" %>
        <%= f.text_area :sample_description, size: "200x5", class: "usa-input usa-input--lg height-15 display-inline-block" %>
      </div>
    </div>
  </div>

  <div class="grid-row flex-row margin-top-2 padding-top-1 border-top">
    <div class="grid-col-12">
      <span class="text-bold">
        Individual Corals
      </legend>
    </div>
  </div>
  <div class="grid-row flex-row margin-top-05">
    <div class="grid-col-12">
      <span class="width-full maxw-3 text-bold font-body-2xs display-inline-block">&num;</span>
      <span class="width-full maxw-4 text-bold font-body-2xs display-inline-block">M</span>
      <span class="width-full maxw-card-lg text-bold font-body-2xs display-inline-block">Coral</span>
      <span class="width-full maxw-4 text-bold font-body-2xs display-inline-block">Juv?</span>
      <span class="width-full maxw-9 text-bold font-body-2xs display-inline-block">Max Diameter</span>
      <span class="width-full maxw-9 text-bold font-body-2xs display-inline-block">Perp Diameter</span>
      <span class="width-full maxw-9 text-bold font-body-2xs display-inline-block">Height</span>
      <span class="width-full maxw-9 text-bold font-body-2xs display-inline-block">Old Mortality</span>
      <span class="width-full maxw-9 text-bold font-body-2xs display-inline-block">Recent Mortality</span>
      <span class="width-full maxw-15 text-bold font-body-2xs display-inline-block">Bleached</span>
      <span class="width-full maxw-10 text-bold font-body-2xs display-inline-block">Disease</span>
      <span class="width-full maxw-15 text-bold font-body-2xs display-inline-block">Restored</span>
    </div>
  </div>
  <div class="grid-row flex-row margin-top-0">
    <div class="grid-col-12">
      <ol class="demo_corals margin-top-0 padding-left-3">
        <%= f.fields_for :demographic_corals do |ff| %>
          <li>
            <%= tag.div class: ["meter-mark-field-container", "maxw-4", "width-full", "display-inline-block"] do %>
              <%= ff.text_field :meter_mark, class: "meter-mark-field usa-input font-body-2xs padding-05 height-auto" %>
            <%- end %>
            <%= tag.div class: ["coral-id-field-container", "maxw-card-lg", "width-full", "display-inline-block"] do %>
              <%= ff.select :coral_id, Coral.order(:rank, :code).map { |c| [c.display_name, c.id, { "data-rank": c.rank }] }, { include_blank: true }, class: "coralSpecies margin-top-1 width-full height-auto font-body-3xs" %>
            <%- end %>
            <%= tag.div class: ["juvenile-field-container", "maxw-4", "width-full", "display-inline-block"] do %>
              <%= ff.checkbox :juvenile, class: "juvenile-field font-body-2xs padding-05 width-full height-auto", tabindex: "-1" %>
            <%- end %>
            <%= tag.div class: ["max-diameter-field-container", "maxw-9", "width-full", "display-inline-block"] do %>
              <%= ff.text_field :max_diameter, class: ["max-diameter-field", "usa-input", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= tag.div class: ["perpendicular-diameter-field-container", "maxw-9", "width-full", "text-right", "display-inline-block"] do %>
              <%= ff.text_field :perpendicular_diameter, class: ["perpendicular-diameter-field", "usa-input", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"]  %>
              <%= tag.span class: ["tally-label", ff.object.juvenile? ? "display-inline-block" : "display-none"] do %>
                Tally:
              <%- end %>
            <%- end %>
            <%= tag.div class: ["height-field-container", "maxw-9", "width-full", "display-inline-block"] do %>
              <%= ff.text_field :height, class: "height-field usa-input font-body-2xs padding-05 height-auto" %>
            <%- end %>
            <%= tag.div class: ["old-mortality-field-container", "maxw-9", "width-full", "display-inline-block"] do %>
              <%= ff.text_field :old_mortality, class: ["old-mortality-field", "usa-input", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= tag.div class: ["recent-mortality-field-container", "maxw-9", "width-full", "display-inline-block"] do %>
              <%= ff.text_field :recent_mortality, class: ["recent-mortality-field", "usa-input", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= tag.div class: ["bleach-condition-field-container", "maxw-15", "width-full", "display-inline-block"] do %>
              <%= ff.select :bleach_condition, { "None" => "N", "Partial Bleaching" => "PB", "Total" => "T", "Paling" => "P" }, { include_blank: false, selected: ff.object.bleach_condition || "N" }, class: ["bleach-condition-field", "usa-select", "font-body-2xs", "padding-05",
              "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= tag.div class: ["disease-field-container", "maxw-10", "width-full", "display-inline-block"] do %>
              <%= ff.select :disease, { "Absent" => "absent", "Present" => "present", "Fast" => "fast", "Slow" => "slow" }, { include_blank: false, selected: ff.object.disease || "absent" }, class: ["disease-field", "usa-select", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= tag.div class: ["restored-field-container", "maxw-15", "width-full", "display-inline-block"] do %>
              <%= ff.select :restored, { "Not Restored" => "not_restored", "Restored/Outplanted" => "restored", "Unknown" => "unknown" }, { include_blank: true, selected: (ff.object.new_record? ? "not_restored" : ff.object.restored) }, class: ["restored-field", "usa-select", "font-body-2xs", "padding-05", "height-auto", ff.object.juvenile? ? "display-none" : "display-inline-block"] %>
            <%- end %>
            <%= ff.link_to_remove tabindex: "-1", class: "font-body-xs" do %>
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#remove_circle") %>
              </svg>
              Remove
            <%- end %>
          </li>
        <%- end %>
        <%= f.link_to_add :demographic_corals, class: "font-body-xs" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add_circle") %>
          </svg>
          Add Coral
        <%- end %>
      </ol>
    </div>
  </div>

  <div class="grid-row flex-row">
    <div class="grid-col-12 margin-top-neg-1">
      <%= f.submit id: "submitButton", class: "usa-button" %>
    </div>
  </div>
<%- end %>