<%= render partial: "draft_present_alert", locals: { discard_draft_url: draft_coral_demographics_path(id: @coral_demographic.id) } %>

<%= nested_form_for @coral_demographic, data: { "drafts-url": draft_coral_demographics_path(id: @coral_demographic.id), "draft-restored": @draft.present?, "draft-focused-dom-id": @draft&.focused_dom_id }, html: { class: "coral-demographic-form formContainer usa-form maxw-full bg-base-lightest padding-1 padding-top-0" } do |f| %>
  <%= render "shared/uswds_error_messages", target: @coral_demographic %>
  <%#= TODO/FIXME render "draft_progress_uswds", object: @coral_demographic %> 

  <div class="grid-row flex-row">
    <div class="grid-col-6">
      <div>
        <%= f.label :boatlog_manager_id, "Boatlog/Manager", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :boatlog_manager_id, BoatlogManager.all, :id, :agency_name, { include_blank: true }, autofocus: true, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :diver_id, "Diver", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :diver_id, Diver.active_divers.order(:diver_name), :id, :diver_name, { include_blank: true }, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :buddy, "Buddy", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :buddy, Diver.active_divers.order(:diver_name), :id, :diver_name, { include_blank: true }, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :field_id, "Field ID", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :field_id, class: "usa-input usa-input--sm display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_date, "Sample Date", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :sample_date, class: "usa-input usa-input--md display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_begin_time, "Sample Begin Time", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :sample_begin_time, value: f.object.sample_begin_time&.strftime("%H:%M"), class: "usa-input usa-input--sm display-inline-block" %>
      </div>
    </div>
    <div class="grid-col-6">
      <div>
        <%= f.label :habitat_type_id, "Habitat Type", class: "usa-label display-inline-block width-card" %>
        <%= f.collection_select :habitat_type_id, HabitatType.caribbean_habitats, :id, :habitat_name, { include_blank: true }, class: "usa-select usa-input--lg display-inline-block" %>
      </div>

      <div>
        <%= f.label :meters_completed, "Meters Completed LPI", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :meters_completed, class: "usa-input usa-input--xs display-inline-block" %>
      </div>

      <div>
        <%= f.label :percent_hardbottom, "Percent Hardbottom", class: "usa-label display-inline-block width-card" %>
        <%= f.text_field :percent_hardbottom, class: "usa-input usa-input--xs display-inline-block" %>
      </div>

      <div>
        <%= f.label :sample_description, "Notes", class: "usa-label display-inline-block width-card text-top" %>
        <%= f.text_area :sample_description, size: "200x5", class: "usa-input usa-input--lg height-15 display-inline-block" %>
      </div>
    </div>
  </div>

  <div class="grid-row flex-row margin-top-2 padding-top-1 border-top">
    <div class="grid-col-12">
      <span class="text-bold">
        Individual Corals
      </legend>
    </div>
  </div>
  <div class="grid-row flex-row margin-top-05">
    <div class="grid-col-12">
      <span class="width-full maxw-3 text-semibold fond-body-xs text-right display-inline-block">&num;</span>
      <span class="width-full maxw-1 text-semibold fond-body-xs text-right display-inline-block">&nbsp;</span>
      <span class="width-full usa-input--2xs text-bold font-body-2xs display-inline-block">Meter</span>
      <span class="width-full maxw-card-lg padding-left-1 text-bold font-body-2xs display-inline-block">Coral</span>
      <span class="width-full usa-input--xs text-bold font-body-2xs display-inline-block">Max Diameter</span>
      <span class="width-full usa-input--xs text-bold font-body-2xs display-inline-block">Perp Diameter</span>
      <span class="width-full usa-input--xs text-bold font-body-2xs display-inline-block">Height</span>
      <span class="width-full usa-input--xs text-bold font-body-2xs display-inline-block">Old Mortality</span>
      <span class="width-full usa-input--xs text-bold font-body-2xs display-inline-block">Recent Mortality</span>
      <span class="width-full usa-input--md text-bold font-body-2xs display-inline-block">Bleached</span>
      <span class="width-full usa-input--sm text-bold font-body-2xs display-inline-block">Disease</span>
    </div>
  </div>
  <div class="grid-row flex-row margin-top-0">
    <div class="grid-col-12">
      <ol class="demo_corals margin-top-0 padding-left-3">
        <%= f.fields_for :demographic_corals do |ff| %>
          <li>
            <%= ff.text_field :meter_mark, class: "usa-input usa-input--2xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.select :coral_id, Coral.order(:rank, :code).map { |c| [c.display_name, c.id, { "data-rank": c.rank }] }, { include_blank: true }, class: "coralSpecies width-full maxw-card-lg margin-top-1 height-auto font-body-3xs display-inline-block" %>
            <%= ff.text_field :max_diameter, class: "usa-input usa-input--xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.text_field :perpendicular_diameter, class: "usa-input usa-input--xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.text_field :height, class: "usa-input usa-input--xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.text_field :old_mortality, class: "usa-input usa-input--xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.text_field :recent_mortality, class: "usa-input usa-input--xs font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.select :bleach_condition, { "None" => "N", "Partial Bleaching" => "PB", "Total" => "T", "Paling" => "P" }, { include_blank: true }, class: "usa-select usa-input--md font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.select :disease, { "Absent" => "absent", "Present" => "present", "Fast" => "fast", "Slow" => "slow" }, { include_blank: true }, class: "usa-select usa-input--sm font-body-2xs padding-05 height-auto display-inline-block" %>
            <%= ff.link_to_remove tabindex: "-1", class: "font-body-xs" do %>
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#remove_circle") %>
              </svg>
              Remove
            <%- end %>
          </li>
        <%- end %>
      </ol>
      <%= f.link_to_add :demographic_corals, class: "font-body-xs" do %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add_circle") %>
        </svg>
        Add Coral
      <%- end %>
    </div>
  </div>

  <div class="grid-row flex-row">
    <div class="grid-col-12 margin-top-neg-1">
      <%= f.submit class: "usa-button" %>
      <%= link_to "Cancel", coral_demographics_path, class: "usa-button usa-button--outline" %>
    </div>
  </div>
<%- end %>