<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Coral Demographics", ""]] %>

    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_coral_demographic_path, class: "new-coral-demographic-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#add") %>
          </svg>
          New Demo
        <%- end %>
      </li>
      <li class="usa-button-group__item">
        <%= link_to coral_demographics_path(format: "pdf", nocache: SecureRandom.alphanumeric, diver_id: current_diver.id), class: "usa-button usa-button--accent-cool" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
          </svg> 
          Download Proofing Report (.pdf)
        <%- end %>
      </li>
      <%- if current_diver.manager? || current_diver.admin? %>
        <li class="usa-button-group__item">
          <%= link_to coral_demographics_path(format: "xlsx", nocache: SecureRandom.alphanumeric), class: "usa-button usa-button--accent-cool" do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
            </svg> 
            Download Samples (.xlsx)
          <%- end %>
        </li>
      <%- end %>
      <%- if current_diver.manager? %>
        <li class="usa-button-group__item">
          <%= link_to "#diver-proofing-report-modal", class: "usa-button usa-button--accent-warm", "aria-controls": "diver-proofing-report-modal", "data-open-modal": true do %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
            </svg> 
            Diver Proofing Reports
          <%- end %>
          <div class="usa-modal" id="diver-proofing-report-modal" aria-labelledby="diver-proofing-report-modal-heading" aria-describedby="diver-proofing-report-modal-description">
            <div class="usa-modal__content">
              <div class="usa-modal__main">
                <h2 id="diver-proofing-report-modal-heading" class="usa-modal__heading">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#people") %>
                  </svg> 
                  Diver Proofing Reports
                </h2>
                <div id="diver-proofing-report-modal-description">
                  <%= form_tag coral_demographics_path(format: "pdf"), class: "usa-form", method: "get" do %>
                    <%= hidden_field_tag :nocache, SecureRandom.alphanumeric %>

                    <%= select_tag :diver_id, options_from_collection_for_select(current_diver.boatlog_manager.divers_responsible_for, :id, :diver_name), class: "usa-select usa-input--lg" %>

                    <%= button_tag class: "usa-button" do %>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#file_download") %>
                      </svg> 
                      Download Proofing Report (.pdf)
                    <%- end %>

                    <%= button_tag "Close", type: "button", class: "usa-button usa-button--outline", "data-close-modal": true %>
                  <%- end %>
                </div>
              </div>

              <%= button_tag type: "button", class: "usa-button usa-modal__close", "aria-label": "Close this dialog", "data-close-modal": true do %>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <%= tag.use href: image_path("@uswds/uswds/dist/img/sprite.svg#close") %>
                </svg> 
              <%- end %>
            </div>
          </div>
        </li>
      <%- end %>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col">Diver</th>
          <th scope="col">Field ID</th>
          <th scope="col">Date</th>
          <th scope="col">Sample Start Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @coral_demographics.each do |coral_demographic| %>
          <tr>
            <td><%= coral_demographic.diver&.diver_name %></td>
            <td class="fieldid_check"><%= coral_demographic.field_id %></td>
            <td><%= coral_demographic.sample_date %></td>
            <td><%= coral_demographic.sample_begin_time&.strftime("%H:%M") %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "View", coral_demographic, class: "usa-button" %>
                </li>
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_coral_demographic_path(coral_demographic), class: "usa-button usa-button--outline" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>