<div class="appContainer">
  <div class="sampleListContainer">
    <h3><%= current_diver.whole_name %> Coral Demographic Samples</h3>
  
      <table id="sampleList" class="display table table-condensed">
        <thead>
         <tr>
           <th>Diver</th>
           <th>field ID</th>
           <th>Date</th>
           <th>Sample Start Time</th>
         </tr>
       </thead>
       <tbody>
      <% @coral_demographics.each do |coral_demographic| %>
        <tr data-link=" <%= coral_demographic_path(coral_demographic.id) %> ">
          <td><%= coral_demographic.diver.diver_name %></td>
          <td class='fieldid_check'><%= coral_demographic.field_id %></td>
          <td><%= coral_demographic.sample_date %></td>
          <td><%= coral_demographic.sample_begin_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>
  <div id="newSampleButton"> 
    <%= button_to('New Demo', new_coral_demographic_path, :method => "get", :class => 'btn btn-large btn-primary wrap')  %>   
  </div>
  <div id="downloadSampleButton"> 
    <%= button_to('Download Proofing Report (.pdf)', coral_demographics_path(format: "pdf"), :method => "get", :class => 'btn btn-small btn-primary')  %>   
  </div>
<% if !current_diver.diver? %>
  <div id="downloadXLSXButton"> 
    <%= button_to('Download Samples (.xlsx)', coral_demographics_path(format: "xlsx"), :method => "get", :class => 'btn btn-small btn-primary')  %>   
  </div>
<% end %>
</div>
