<h1>Listing coral_demographics</h1>

<table>
  <tr>
    <th>Diver</th>
    <th>Habitat type</th>
    <th>Buddy</th>
    <th>Field</th>
    <th>Sample date</th>
    <th>Sample begin time</th>
    <th>Meters completed</th>
    <th>Sample description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coral_demographics.each do |coral_demographic| %>
  <tr>
    <td><%= coral_demographic.diver_id %></td>
    <td><%= coral_demographic.habitat_type_id %></td>
    <td><%= coral_demographic.buddy %></td>
    <td><%= coral_demographic.field_id %></td>
    <td><%= coral_demographic.sample_date %></td>
    <td><%= coral_demographic.sample_begin_time %></td>
    <td><%= coral_demographic.meters_completed %></td>
    <td><%= coral_demographic.sample_description %></td>
    <td><%= link_to 'Show', coral_demographic %></td>
    <td><%= link_to 'Edit', edit_coral_demographic_path(coral_demographic) %></td>
    <td><%= link_to 'Destroy', coral_demographic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coral demographic', new_coral_demographic_path %>
