  <%= form_for @jurisdiction, html: { class: "usa-form maxw-full bg-base-lightest" } do |f| %>
    <%= render "shared/uswds_error_messages", target: @jurisdiction %>

    <fieldset class="usa-fieldset padding-1">
      <%= f.label :name, class: "usa-label" %>
      <%= f.text_field :name, class: "usa-input usa-input--lg", autofocus: true %>

      <label class="usa-label">Valid Habitat Types</label>
      <%= f.collection_check_boxes :habitat_type_ids, HabitatType.order(:habitat_name), :id, :habitat_name do |b|
        tag.div class: "usa-checkbox" do
          b.check_box(class: "usa-checkbox__input") + b.label(class: "usa-checkbox__label")
        end
      end
      %>

      <%= f.submit class: "usa-button" %>
      <%= link_to "Cancel", jurisdictions_path, class: "usa-button usa-button--outline" %>
    </fieldset>
  <% end %>