<%= form_for(@habitat_type) do |f| %>
  
  <%= render "shared/error_messages", :target => @habitat_type %>

  <div class='field'>
    <%= f.label :'Habitat Name' %><br />
    <%= f.text_field :habitat_name %>
  </div>
  <div class='field'>
    <%= f.label :'Habitat Description' %><br />
    <%= f.text_field :habitat_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
