<div class="appContainer">
<body>
<table class="table table-striped">
  <tr>
    <th>Habitat Name</th>
    <th>Habitat Description</th>
    <th></th>
  </tr>

<% @habitat_types.each do |habitat_type| %>
  <tr>
    <td><%= habitat_type.habitat_name %></td>
    <td><%= habitat_type.habitat_description %></td>
    <td><%= link_to 'Show', habitat_type %></td>
    <td><%= link_to 'Edit', edit_habitat_type_path(habitat_type) %></td>
    <td><%= link_to 'Destroy', habitat_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</body>
<br />

<%= link_to 'New Habitat type', new_habitat_type_path %>

</div>
