<div class="grid-row">
  <div class="grid-col-12">
    <%= render "shared/nav_breadcrumbs", object: [["Missions", ""]] %>

    <ul class="usa-button-group margin-bottom-1">
      <li class="usa-button-group__item">
        <%= link_to new_mission_path, class: "new-mission-button usa-button" do %>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <%= tag.use href: image_path("sprite.svg#add") %>
          </svg>
          New Mission
        <%- end %>
      </li>
    </ul>

    <table class="width-full display">
      <thead>
        <tr>
          <th scope="col">Region</th>
          <th scope="col">Agency</th>
          <th scope="col">Project</th>
          <th scope="col">Active?</th>
          <th scope="col">Managers</th>
          <th scole="col"></th>
        </tr>
      </thead>
      <tbody>
        <%- @missions.each do |mission| %>
          <tr>
            <td><%= mission.region.name %></td>
            <td><%= mission.agency.name %></td>
            <td><%= mission.project.name %></td>
            <td><%= mission.active %></td>
            <td><%= mission.managers.pluck(:diver_name).sort.join(", ") %></td>
            <td>
              <ul class="usa-button-group float-right">
                <li class="usa-button-group__item">
                  <%= link_to "Edit", edit_mission_path(mission), class: "usa-button usa-button--outline" %>
                </li>
              </ul>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>